In [20]:
import pandas as pd

In [28]:
df = pd.read_excel("/Users/btereomotere/Documents/Python-tutorial/mastery_python_libraries/mini_data_spreadsheet.xlsx", index_col=False)
df

                     metrics     Q1     Q2     Q3
0                    Revenue  249.0  252.0  160.0
1                 operations  329.0  261.0  200.0
2                 churn_rate  157.0  167.0  176.0
3                  user_rate  231.0  183.0  238.0
4           feature_releases  313.0  272.0  193.0
5                Net_Profit   255.0  196.0  202.0
6      New_Users_(thousands)  167.0  272.0  229.0
7           feature_releases  347.0  218.0  242.0
8               Active_Users  347.0  296.0  244.0
9             Retention_Rate  240.0  179.0  184.0
10            Lifetime_Value  262.0  204.0  151.0
11  Average_Session_Duration  286.0  269.0  246.0
12     Customer_Satisfaction  205.0  253.0  197.0
13        Daily_Active_Users  272.0  245.0  177.0
14        Retention_Rate (%)  394.0  212.0  192.0
15      Lifetime_Value (LTV)  235.0  296.0  165.0
16    Page_Views_per_Session  187.0  167.0  218.0
17             views_per_day  229.0  245.0  164.0
18                    rating    4.3    2.6    4.8

In [22]:
#creating custom dataframe

new_dataset = {"Q5": [234,567,879,4,56.6, 765.0,876.4, 234.7, 098.5, 456.9,342,908, 432,765, 123.6, 798.9, 43.6, "big", "large"], "Q4": [234, 567, 879, 4, 56.6,765.0, 876.4, 234.7,98.5,456.9, 342, 908, 432, 765, 123.6, 798.9, 43.6, "big", "large"]}
df2 = pd.DataFrame(new_dataset)
df2

       Q5     Q4
0     234    234
1     567    567
2     879    879
3       4      4
4    56.6   56.6
5   765.0  765.0
6   876.4  876.4
7   234.7  234.7
8    98.5   98.5
9   456.9  456.9
10    342    342
11    908    908
12    432    432
13    765    765
14  123.6  123.6
15  798.9  798.9
16   43.6   43.6
17    big    big
18  large  large

#We want to merge the first dataset, with the second, using the merge function. However, if your new DataFrame is an extension of the existing DataFrame (i.e., you want to add new rows or columns that do not share a common key), you can use the "concat function" from pandas instead of "merge". The concat function allows you to concatenate DataFrames along a particular axis (either rows or columns).

In [38]:
join_df = pd.concat([df, df2], axis=1) #axis = 1, say,joined at the column
join_df

                     metrics     Q1     Q2     Q3     Q5     Q4
0                    Revenue  249.0  252.0  160.0    234    234
1                 operations  329.0  261.0  200.0    567    567
2                 churn_rate  157.0  167.0  176.0    879    879
3                  user_rate  231.0  183.0  238.0      4      4
4           feature_releases  313.0  272.0  193.0   56.6   56.6
5                Net_Profit   255.0  196.0  202.0  765.0  765.0
6      New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4
7           feature_releases  347.0  218.0  242.0  234.7  234.7
8               Active_Users  347.0  296.0  244.0   98.5   98.5
9             Retention_Rate  240.0  179.0  184.0  456.9  456.9
10            Lifetime_Value  262.0  204.0  151.0    342    342
11  Average_Session_Duration  286.0  269.0  246.0    908    908
12     Customer_Satisfaction  205.0  253.0  197.0    432    432
13        Daily_Active_Users  272.0  245.0  177.0    765    765
14        Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6
15      Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9
16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6
17             views_per_day  229.0  245.0  164.0    big    big
18                    rating    4.3    2.6    4.8  large  large

In [40]:
join_df.head(7)

                 metrics     Q1     Q2     Q3     Q5     Q4
0                Revenue  249.0  252.0  160.0    234    234
1             operations  329.0  261.0  200.0    567    567
2             churn_rate  157.0  167.0  176.0    879    879
3              user_rate  231.0  183.0  238.0      4      4
4       feature_releases  313.0  272.0  193.0   56.6   56.6
5            Net_Profit   255.0  196.0  202.0  765.0  765.0
6  New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4

In [41]:
join_df.tail(7)

                   metrics     Q1     Q2     Q3     Q5     Q4
12   Customer_Satisfaction  205.0  253.0  197.0    432    432
13      Daily_Active_Users  272.0  245.0  177.0    765    765
14      Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6
15    Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9
16  Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6
17           views_per_day  229.0  245.0  164.0    big    big
18                  rating    4.3    2.6    4.8  large  large

In [42]:
join_df.index

RangeIndex(start=0, stop=19, step=1)

In [43]:
join_df.columns

Index(['metrics', 'Q1', 'Q2', 'Q3', 'Q5', 'Q4'], dtype='object')

In [50]:
#get the row and col using slicing method
accessin_data = join_df.loc[0:5]
accessin_data

            metrics     Q1     Q2     Q3     Q5     Q4
0           Revenue  249.0  252.0  160.0    234    234
1        operations  329.0  261.0  200.0    567    567
2        churn_rate  157.0  167.0  176.0    879    879
3         user_rate  231.0  183.0  238.0      4      4
4  feature_releases  313.0  272.0  193.0   56.6   56.6
5       Net_Profit   255.0  196.0  202.0  765.0  765.0

In [57]:
#Accessing row only by index label and loc:
row = join_df.loc[5]
row

metrics    Net_Profit
Q1               255.0
Q2               196.0
Q3               202.0
Q5               765.0
Q4               765.0
Name: 5, dtype: object

In [58]:
#Accessing multiple rows by index labels and loc
rows = join_df.loc[[0, 1, 2]]

In [65]:
#Accessing rows based on a condition:

rows = join_df.loc[join_df['Q3'] > 200]
rows

                     metrics     Q1     Q2     Q3     Q5     Q4
3                  user_rate  231.0  183.0  238.0      4      4
5                Net_Profit   255.0  196.0  202.0  765.0  765.0
6      New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4
7           feature_releases  347.0  218.0  242.0  234.7  234.7
8               Active_Users  347.0  296.0  244.0   98.5   98.5
11  Average_Session_Duration  286.0  269.0  246.0    908    908
16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6

Using .iloc (Integer-location based indexing)
The .iloc method is used to access rows and columns by integer position.

Accessing a single row by integer index:

In [67]:
row = join_df.iloc[0]
row

metrics    Revenue
Q1           249.0
Q2           252.0
Q3           160.0
Q5             234
Q4             234
Name: 0, dtype: object

In [71]:
rows = join_df.iloc[[0, 1, 2]]
rows

      metrics     Q1     Q2     Q3   Q5   Q4
0     Revenue  249.0  252.0  160.0  234  234
1  operations  329.0  261.0  200.0  567  567
2  churn_rate  157.0  167.0  176.0  879  879