In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/path/to/dataset.xlsx", index_col=False)
df

In [ ]:
#creating custom dataframe

new_dataset = {"Q5": [234,567,879,4,56.6, 765.0,876.4, 234.7, 098.5, 456.9,342,908, 432,765, 123.6, 798.9, 43.6, "big", "large"], "Q4": [234, 567, 879, 4, 56.6,765.0, 876.4, 234.7,98.5,456.9, 342, 908, 432, 765, 123.6, 798.9, 43.6, "big", "large"]}
df2 = pd.DataFrame(new_dataset)
df2

#We want to merge the first dataset, with the second, using the merge function. However, if your new DataFrame is an extension of the existing DataFrame (i.e., you want to add new rows or columns that do not share a common key), you can use the "concat function" from pandas instead of "merge". The concat function allows you to concatenate DataFrames along a particular axis (either rows or columns).

In [ ]:
join_df = pd.concat([df, df2], axis=1) #axis = 1, say,joined at the column
join_df

In [ ]:
join_df.head(7)

In [ ]:
join_df.tail(7)

In [ ]:
join_df.index

In [ ]:
join_df.columns

In [ ]:
join_df.info()

In [ ]:
join_df.dtypes

In [ ]:
join_df.sort_values("Q1")

In [ ]:
#join_df["Q3"]  to grab a column, we use this, but if it is a single word(column_name) we can use below.
join_df.Q5

In [ ]:
#get the row and col using slicing method
accessin_data = join_df.loc[0:4] #loc[row, col]--- loc used label based or slicing
accessin_data

In [ ]:
#Accessing row only by index label and loc:
row = join_df.loc[5]
row

In [ ]:
#Accessing multiple rows by index labels and loc
rows = join_df.loc[[0, 1, 2]]

In [ ]:
#Accessing rows based on a condition:

rows = join_df.loc[join_df['Q3'] > 200]
rows

Using .iloc (Integer-location based indexing)
The .iloc method is used to access rows and columns by integer position.

Accessing a single row by integer index:

In [ ]:
row = join_df.iloc[0]  #This returns a Series representing the row
row

In [ ]:
rows = join_df.iloc[[0, 1, 2]]
print(rows)  #seeing the output using the print function

In [ ]:
rows = join_df.iloc[[0, 1, 2]]
rows

In [ ]:
rows = join_df.loc[:, :"Q5"] #loc is selecting row and col based on column_name or label.
rows

In [ ]:
#Accessing a range of rows by integer indices
rows = join_df.iloc[0:7, [3, 4]]
rows

Why Use join_df Twice?
1. First join_df: This refers to the entire DataFrame on which you want to apply the condition.
2. Second join_df: This is within the boolean indexing operation where the boolean Series is used to filter the rows of the DataFrame.

In [ ]:
rows = join_df[join_df['Q3'] > 345.6]
row

In [ ]:
join_df

join_df: This is the DataFrame that you are working with.

join_df['Q2'] > 4: This condition checks each value in the column Q2 to see if it is greater than 4. It returns a Series of Boolean values (True or False), where each entry corresponds to whether the condition is met for each row.

join_df['Q3'] < 876.4: This condition checks each value in the column Q3 to see if it is less than 876.4. Like the previous condition, it returns a Series of Boolean values.

&: This is the logical AND operator, which combines the two conditions. It returns True only if both conditions are True for a given row

In [ ]:
rows = join_df[(join_df['Q2'] > 4) & (join_df['Q3'] < 876.4)]
rows

You can access a single column by using the column name inside square brackets

In [ ]:
join_df['Q3']

To access multiple col, you pass the column name into a list

In [ ]:
access_df_col = join_df[["Q1", "Q4", "Q5"]]
access_df_col

In [ ]:
access_df_col = join_df[0:4] #slicing is used for  both row and col simultaneously
access_df_col

In [ ]:
access_df_col = join_df[-5:] #slicing is used for  both row and col simultaneously
access_df_col

In [ ]:
#df.loc[:, 'column_name']  # Access a single column
#df.loc[:, ['col1', 'col2']]  # Access multiple columns, using the column_name(label_based)

join_df.loc[:, ["Q1", "Q4", "Q5"]]

In [ ]:
#df.iloc[:, column_index]  # Access a single column by integer index
#df.iloc[:, [col_index1, col_index2]]  # Access multiple columns by integer indexes

join_df.iloc[4:, [1, 2, 3]]

In [ ]:
join_df.iloc[6:, [1, 2, 3]] #Access columns using integer-based positions[row_first, columns_second].

In [ ]:
def print_col_with_string(df: pd.DataFrame) -> pd.Series:
    """We want to traverse theough the df, and check for str, then print the column

    Args:
        df: The main tabular dataset

    Returns:
        The column that contain str dtype.
    """
    col_with_string_dtype = join_df.select_dtypes(include=["object"]).columns
    for _, row in join_df.iterrows():
        for col in col_with_string_dtype:
            print(col)
            if isinstance(row[col], str):
                #print(f"print {col} with the {row[col]}")
                return (row[col])

print_col_with_string(join_df)

For numeric data, the result’s index will include count, mean, std, min, max as well as lower, 50 and upper percentiles. By default the lower percentile is 25 and the upper percentile is 75. The 50 percentile is the same as the median.

For object data (e.g. strings or timestamps), the result’s index will include count, unique, top, and freq. The top is the most common value. The freq is the most common value’s frequency. Timestamps also include the first and last items.

If multiple object values have the highest count, then the count and top results will be arbitrarily chosen from among those with the highest count.

For mixed data types provided via a DataFrame, the default is to return only an analysis of numeric columns. If the dataframe consists only of object and categorical data without any numeric columns, the default is to return an analysis of both the object and categorical columns. If include='all' is provided as an option, the result will include a union of attributes of each type.

The include and exclude parameters can be used to limit which columns in a DataFrame are analyzed for the output. The parameters are ignored when analyzing a Series.

In [ ]:
join_df.describe(exclude="object")

In [ ]:
#write a program that create a new dataframe with nan values.
import numpy as np
def create_new_df_with_nan(data: pd.DataFrame) -> pd.DataFrame:
    """The function would traverse through the whole dataset, replace and fillna with different techniques used ou there

    Args:
        data: dataset

    Returns:
        cleaned df.
    """
    new_dataset = {"Q6": [234, np.nan, 879, np.nan, 56.6, 765.0,876.4, 234.7, np.nan, 456.9,342,908, 432,765, 123.6, np.nan, 43.6, "bigger", "larger"], "Q7": ["chucky", 567, np.nan, 4, 56.6,765.0, np.nan, 234.7,98.5,456.9, np.nan, "higher", np.nan, 765, 123.6, 798.9, 43.6, "lower", "tiny"]}
    df3 = pd.DataFrame(new_dataset)
    df3 = pd.concat([join_df, df3], axis = 1)
    df3['Q1'] = df3['Q1'].replace(167.0, 100)
    return df3

In [ ]:
df3 = create_new_df_with_nan(join_df)

Filling nan values or missing values in dataframe.

Filling NaN values in a DataFrame is a crucial step in data preprocessing to ensure that your dataset is complete and ready for analysis. Pandas provides various methods to handle missing values, both for single and multiple approaches

In [ ]:
df3.isnull().sum()

In [ ]:
df3_copy = df3.copy()
df3_copy

In [ ]:
#Fill with a Constant Value
#You can fill all NaN values with a single constant value using fillna()

df_filled = df3_copy.fillna(0)
display(df_filled)

In [ ]:
#Forward Fill

df_filled = df3_copy.fillna(method='ffill')
df_filled

In [ ]:
# Backward fill NaN values
df_filled = df3_copy.fillna(method='bfill')
df_filled

In [ ]:
df_filled

In [ ]:
#Fill with the Mean, Median, or Mode
#You can fill NaN values with statistical values computed from the column.

def fillna_with_M3(data: pd.DataFrame) -> pd.DataFrame:
    """Filling nan values with mean, mean and mode

    Args:
        data: The main dataset

    Returns:
        pd.DataFrame:
    """
    df_filled1 = df3.fillna(df3.mean())
    df_filled2 = df3.fillna(df3.mode().iloc[0])

    return df_filled1, df_filled2

In [ ]:
df_filled1, df_filled2 =  fillna_with_M3(df3)
display(df_filled1)
#print("\n")
#print(df_filled2)

In [ ]:
df3.describe()

Column Manipulation

Create a new column based on operations performed on existing columns (e.g., summing two columns)

In [ ]:
df3["Q8"] = df3["Q1"] + df3["Q2"]

In [ ]:
df3["Q9"] = df3["Q2"] + df3["Q3"]

In [ ]:
df3["Q10"] = df3["Q3"] - df3["Q2"]

Question: 
Group data by a categorical column and calculate the average of a numerical column for each group.

In [ ]:
categorical_col = df3.select_dtypes(include="object")
categorical_col

In [ ]:
grougpy_by_category = df3.groupby(["metrics", "Q5", "Q4", "Q6", "Q7"]).mean()
display(grougpy_by_category)

In [ ]:
df3.isna().sum()

In [ ]:
df3

In [ ]:
new_df = df3.fillna(method='ffill')
new_df

In [ ]:
new_df.isnull().sum()

In [ ]:
other_info = {"Email": ['alice@example.com','charlie@samples.com', 'charlie@yahoo.com', 'bob@example.com','charlie@gamil.com', 'charlie@sample.com', 'david@website.com', 'edward@domain.com', 'edward@domain.com', 'edward@domain.com', 'david@website.canada', 'charle@yahoo.com', 'bob@example.eu', 'david@website.ca', 'charlie@sample.eu', 'charlie@sample.pl', 'alice@example.it', 'alice@example.uk', 'alice@example.cr'], "annual_revenue": [255.6, 367.7, 2443, 256.6, 678.5, 456.4, 865.43
                                                                                                                                                                                                                                                                                                                                                                                                                                              ,126.7,985.5, 675.4, 6746, 456.3, 6548, 567.4,2345,678,234.6,981.5, 567.8]}
email_data = pd.DataFrame(other_info)
email_data

In [ ]:
columns_to_drop = ["Email", "Email", "Email", "Email", "annual_revenue", "annual_revenue"]
new_df = new_df.drop(columns=columns_to_drop, axis=1)
new_df

In [ ]:
new_df = pd.concat([new_df, email_data], axis=1)
new_df

Regular Expression, is a sequence of characters that forms a search pattern

RegEx can be used to check if a string contains the specified search pattern.

Regular expressions (regex) are a powerful tool for string matching and manipulation. In pandas, you can use regex to filter DataFrame rows based on column values.

In [ ]:
# Filter rows where Email contains 'example'
filtered_df = new_df[new_df['Email'].str.contains('.com', regex=True)]
filtered_df

Data Encoding

Converting categorical columns to numerical. If all dataset are int, float, you dont need to encode at all.

1. One-Hot Encoding: How it works: Creates a new binary column for each unique category in the feature. A '1' indicates the presence of that category, and '0' indicates its absence.
Example: If you have a "Color" feature with categories "Red", "Green", and "Blue", you'd get three new columns: "Color_Red", "Color_Green", "Color_Blue".
Pros: Simple to understand and implement. Preserves information about all categories.
Cons: Can lead to high dimensionality (lots of new columns) if you have many categories, potentially increasing computational cost and risk of overfitting.


2. Label Encoding: How it works: Assigns a unique integer to each category.
Example: "Red" might be 0, "Green" 1, and "Blue" 2.
Pros: Reduces dimensionality compared to one-hot encoding.
Cons: Introduces an artificial order among categories, which might not be meaningful. Can mislead some algorithms that assume numerical order.


3. Ordinal Encoding: How it works: Assigns integers to categories based on a natural order or ranking.
Example: "Small", "Medium", "Large" could be encoded as 1, 2, 3 respectively.
Pros: Preserves some ordinal information if it exists.
Cons: Only suitable for categories with a clear order. Can be subjective if the order is not well-defined.


4. Target Encoding: How it works: Replaces each category with the mean (or other aggregate) of the target variable for that category.
Example: If "Color" is encoded, each color would be replaced with the average target value for that color in the training data.
Pros: Can capture complex relationships between categories and the target.
Cons: Prone to overfitting if not used carefully. Can leak information from the target variable into the encoding.


5. Hashing Trick: How it works: Maps categories to a fixed-size integer vector using a hash function.
Pros: Handles high cardinality (many categories) efficiently.
Cons: Can lose information about category relationships.

Note: The best encoding method depends on:
The nature of your categorical features: Are there clear orders or relationships?
The size of your dataset: One-hot encoding can be problematic with many categories.
The machine learning algorithm you're using: Some algorithms are more sensitive to encoding choices than others.

Note that label encoder requires the input to be of a uniform type, typically strings or numbers, but not both. To solve it, convert Mixed Data Types to Strings: Ensure that all values in categorical columns are converted to strings, if that is what is required.

In [ ]:
from sklearn.preprocessing import LabelEncoder
from typing import List

def convert_categorical_colu(data: pd.DataFrame) -> pd.DataFrame: 
    categorical_labels:  List = ['Email', 'Q5', 'Q4', 'Q6', 'Q7', 'metrics']
    label_encoder = LabelEncoder()
    for col in categorical_col:
            if col in df.columns:
                new_df[col] = label_encoder.fit_transform(data[col])
    return new_df

In [ ]:
new_df = convert_categorical_colu(new_df)
display(new_df)

Dynamically search through the df, and select the dtype with categorical col

In [ ]:
#import pandas as pd
##from sklearn.preprocessing import LabelEncoder

#def label_encode_dynamic(df: pd.DataFrame) -> pd.DataFrame:
   # Label = LabelEncoder()
    #categorical_cols = df.select_dtypes(include=['object', 'category']).columns
   # for col in categorical_cols:
      #  df[col] = Label.fit_transform(df[col])
    
  #  return df

In [ ]:
#new_df = label_encode_dynamic(new_df)
#display(new_df)