In [20]:
import pandas as pd

In [28]:
df = pd.read_excel("/path_to_dataset/mini_data_spreadsheet.xlsx", index_col=False)
df

                     metrics     Q1     Q2     Q3
0                    Revenue  249.0  252.0  160.0
1                 operations  329.0  261.0  200.0
2                 churn_rate  157.0  167.0  176.0
3                  user_rate  231.0  183.0  238.0
4           feature_releases  313.0  272.0  193.0
5                Net_Profit   255.0  196.0  202.0
6      New_Users_(thousands)  167.0  272.0  229.0
7           feature_releases  347.0  218.0  242.0
8               Active_Users  347.0  296.0  244.0
9             Retention_Rate  240.0  179.0  184.0
10            Lifetime_Value  262.0  204.0  151.0
11  Average_Session_Duration  286.0  269.0  246.0
12     Customer_Satisfaction  205.0  253.0  197.0
13        Daily_Active_Users  272.0  245.0  177.0
14        Retention_Rate (%)  394.0  212.0  192.0
15      Lifetime_Value (LTV)  235.0  296.0  165.0
16    Page_Views_per_Session  187.0  167.0  218.0
17             views_per_day  229.0  245.0  164.0
18                    rating    4.3    2.6    4.8

In [22]:
#creating custom dataframe

new_dataset = {"Q5": [234,567,879,4,56.6, 765.0,876.4, 234.7, 098.5, 456.9,342,908, 432,765, 123.6, 798.9, 43.6, "big", "large"], "Q4": [234, 567, 879, 4, 56.6,765.0, 876.4, 234.7,98.5,456.9, 342, 908, 432, 765, 123.6, 798.9, 43.6, "big", "large"]}
df2 = pd.DataFrame(new_dataset)
df2

       Q5     Q4
0     234    234
1     567    567
2     879    879
3       4      4
4    56.6   56.6
5   765.0  765.0
6   876.4  876.4
7   234.7  234.7
8    98.5   98.5
9   456.9  456.9
10    342    342
11    908    908
12    432    432
13    765    765
14  123.6  123.6
15  798.9  798.9
16   43.6   43.6
17    big    big
18  large  large

#We want to merge the first dataset, with the second, using the merge function. However, if your new DataFrame is an extension of the existing DataFrame (i.e., you want to add new rows or columns that do not share a common key), you can use the "concat function" from pandas instead of "merge". The concat function allows you to concatenate DataFrames along a particular axis (either rows or columns).

In [38]:
join_df = pd.concat([df, df2], axis=1) #axis = 1, say,joined at the column
join_df

                     metrics     Q1     Q2     Q3     Q5     Q4
0                    Revenue  249.0  252.0  160.0    234    234
1                 operations  329.0  261.0  200.0    567    567
2                 churn_rate  157.0  167.0  176.0    879    879
3                  user_rate  231.0  183.0  238.0      4      4
4           feature_releases  313.0  272.0  193.0   56.6   56.6
5                Net_Profit   255.0  196.0  202.0  765.0  765.0
6      New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4
7           feature_releases  347.0  218.0  242.0  234.7  234.7
8               Active_Users  347.0  296.0  244.0   98.5   98.5
9             Retention_Rate  240.0  179.0  184.0  456.9  456.9
10            Lifetime_Value  262.0  204.0  151.0    342    342
11  Average_Session_Duration  286.0  269.0  246.0    908    908
12     Customer_Satisfaction  205.0  253.0  197.0    432    432
13        Daily_Active_Users  272.0  245.0  177.0    765    765
14        Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6
15      Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9
16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6
17             views_per_day  229.0  245.0  164.0    big    big
18                    rating    4.3    2.6    4.8  large  large

In [40]:
join_df.head(7)

                 metrics     Q1     Q2     Q3     Q5     Q4
0                Revenue  249.0  252.0  160.0    234    234
1             operations  329.0  261.0  200.0    567    567
2             churn_rate  157.0  167.0  176.0    879    879
3              user_rate  231.0  183.0  238.0      4      4
4       feature_releases  313.0  272.0  193.0   56.6   56.6
5            Net_Profit   255.0  196.0  202.0  765.0  765.0
6  New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4

In [41]:
join_df.tail(7)

                   metrics     Q1     Q2     Q3     Q5     Q4
12   Customer_Satisfaction  205.0  253.0  197.0    432    432
13      Daily_Active_Users  272.0  245.0  177.0    765    765
14      Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6
15    Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9
16  Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6
17           views_per_day  229.0  245.0  164.0    big    big
18                  rating    4.3    2.6    4.8  large  large

In [42]:
join_df.index

RangeIndex(start=0, stop=19, step=1)

In [43]:
join_df.columns

Index(['metrics', 'Q1', 'Q2', 'Q3', 'Q5', 'Q4'], dtype='object')

In [120]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   metrics  19 non-null     object
 1   Q1       19 non-null     float64
 2   Q2       19 non-null     float64
 3   Q3       19 non-null     float64
 4   Q5       19 non-null     object
 5   Q4       19 non-null     object
dtypes: float64(3), object(3)
memory usage: 1.0+ KB

In [144]:
join_df.dtypes

metrics     object
Q1         float64
Q2         float64
Q3         float64
Q5          object
Q4          object
dtype: object

In [117]:
#get the row and col using slicing method
accessin_data = join_df.loc[0:4] #loc[row, col]--- loc used label based or slicing
accessin_data

            metrics     Q1     Q2     Q3    Q5    Q4
0           Revenue  249.0  252.0  160.0   234   234
1        operations  329.0  261.0  200.0   567   567
2        churn_rate  157.0  167.0  176.0   879   879
3         user_rate  231.0  183.0  238.0     4     4
4  feature_releases  313.0  272.0  193.0  56.6  56.6

In [57]:
#Accessing row only by index label and loc:
row = join_df.loc[5]
row

metrics    Net_Profit
Q1               255.0
Q2               196.0
Q3               202.0
Q5               765.0
Q4               765.0
Name: 5, dtype: object

In [58]:
#Accessing multiple rows by index labels and loc
rows = join_df.loc[[0, 1, 2]]

In [65]:
#Accessing rows based on a condition:

rows = join_df.loc[join_df['Q3'] > 200]
rows

                     metrics     Q1     Q2     Q3     Q5     Q4
3                  user_rate  231.0  183.0  238.0      4      4
5                Net_Profit   255.0  196.0  202.0  765.0  765.0
6      New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4
7           feature_releases  347.0  218.0  242.0  234.7  234.7
8               Active_Users  347.0  296.0  244.0   98.5   98.5
11  Average_Session_Duration  286.0  269.0  246.0    908    908
16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6

Using .iloc (Integer-location based indexing)
The .iloc method is used to access rows and columns by integer position.

Accessing a single row by integer index:

In [67]:
row = join_df.iloc[0]  #This returns a Series representing the row
row

metrics    Revenue
Q1           249.0
Q2           252.0
Q3           160.0
Q5             234
Q4             234
Name: 0, dtype: object

In [74]:
rows = join_df.iloc[[0, 1, 2]]
print(rows)  #seeing the output using the print function

      metrics     Q1     Q2     Q3   Q5   Q4
0     Revenue  249.0  252.0  160.0  234  234
1  operations  329.0  261.0  200.0  567  567
2  churn_rate  157.0  167.0  176.0  879  879

In [75]:
rows = join_df.iloc[[0, 1, 2]]
rows

      metrics     Q1     Q2     Q3   Q5   Q4
0     Revenue  249.0  252.0  160.0  234  234
1  operations  329.0  261.0  200.0  567  567
2  churn_rate  157.0  167.0  176.0  879  879

In [77]:
#Accessing a range of rows by integer indices
rows = join_df.iloc[0:3]
rows

      metrics     Q1     Q2     Q3   Q5   Q4
0     Revenue  249.0  252.0  160.0  234  234
1  operations  329.0  261.0  200.0  567  567
2  churn_rate  157.0  167.0  176.0  879  879

Why Use join_df Twice?
1. First join_df: This refers to the entire DataFrame on which you want to apply the condition.
2. Second join_df: This is within the boolean indexing operation where the boolean Series is used to filter the rows of the DataFrame.

In [85]:
rows = join_df[join_df['Q3'] > 345.6]
row

metrics    Revenue
Q1           249.0
Q2           252.0
Q3           160.0
Q5             234
Q4             234
Name: 0, dtype: object

In [86]:
join_df

                     metrics     Q1     Q2     Q3     Q5     Q4
0                    Revenue  249.0  252.0  160.0    234    234
1                 operations  329.0  261.0  200.0    567    567
2                 churn_rate  157.0  167.0  176.0    879    879
3                  user_rate  231.0  183.0  238.0      4      4
4           feature_releases  313.0  272.0  193.0   56.6   56.6
5                Net_Profit   255.0  196.0  202.0  765.0  765.0
6      New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4
7           feature_releases  347.0  218.0  242.0  234.7  234.7
8               Active_Users  347.0  296.0  244.0   98.5   98.5
9             Retention_Rate  240.0  179.0  184.0  456.9  456.9
10            Lifetime_Value  262.0  204.0  151.0    342    342
11  Average_Session_Duration  286.0  269.0  246.0    908    908
12     Customer_Satisfaction  205.0  253.0  197.0    432    432
13        Daily_Active_Users  272.0  245.0  177.0    765    765
14        Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6
15      Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9
16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6
17             views_per_day  229.0  245.0  164.0    big    big
18                    rating    4.3    2.6    4.8  large  large

join_df: This is the DataFrame that you are working with.

join_df['Q2'] > 4: This condition checks each value in the column Q2 to see if it is greater than 4. It returns a Series of Boolean values (True or False), where each entry corresponds to whether the condition is met for each row.

join_df['Q3'] < 876.4: This condition checks each value in the column Q3 to see if it is less than 876.4. Like the previous condition, it returns a Series of Boolean values.

&: This is the logical AND operator, which combines the two conditions. It returns True only if both conditions are True for a given row

In [89]:
rows = join_df[(join_df['Q2'] > 4) & (join_df['Q3'] < 876.4)]
rows

                     metrics     Q1     Q2     Q3     Q5     Q4
0                    Revenue  249.0  252.0  160.0    234    234
1                 operations  329.0  261.0  200.0    567    567
2                 churn_rate  157.0  167.0  176.0    879    879
3                  user_rate  231.0  183.0  238.0      4      4
4           feature_releases  313.0  272.0  193.0   56.6   56.6
5                Net_Profit   255.0  196.0  202.0  765.0  765.0
6      New_Users_(thousands)  167.0  272.0  229.0  876.4  876.4
7           feature_releases  347.0  218.0  242.0  234.7  234.7
8               Active_Users  347.0  296.0  244.0   98.5   98.5
9             Retention_Rate  240.0  179.0  184.0  456.9  456.9
10            Lifetime_Value  262.0  204.0  151.0    342    342
11  Average_Session_Duration  286.0  269.0  246.0    908    908
12     Customer_Satisfaction  205.0  253.0  197.0    432    432
13        Daily_Active_Users  272.0  245.0  177.0    765    765
14        Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6
15      Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9
16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6
17             views_per_day  229.0  245.0  164.0    big    big

You can access a single column by using the column name inside square brackets

In [90]:
join_df['Q3']

0     160.0
1     200.0
2     176.0
3     238.0
4     193.0
5     202.0
6     229.0
7     242.0
8     244.0
9     184.0
10    151.0
11    246.0
12    197.0
13    177.0
14    192.0
15    165.0
16    218.0
17    164.0
18      4.8
Name: Q3, dtype: float64

To access multiple col, you pass the column name into a list

In [112]:
access_df_col = join_df[["Q1", "Q4", "Q5"]]
access_df_col

       Q1     Q4     Q5
0   249.0    234    234
1   329.0    567    567
2   157.0    879    879
3   231.0      4      4
4   313.0   56.6   56.6
5   255.0  765.0  765.0
6   167.0  876.4  876.4
7   347.0  234.7  234.7
8   347.0   98.5   98.5
9   240.0  456.9  456.9
10  262.0    342    342
11  286.0    908    908
12  205.0    432    432
13  272.0    765    765
14  394.0  123.6  123.6
15  235.0  798.9  798.9
16  187.0   43.6   43.6
17  229.0    big    big
18    4.3  large  large

In [110]:
access_df_col = join_df[0:4] #slicing is used for  both row and col simultaneously
access_df_col

      metrics     Q1     Q2     Q3   Q5   Q4
0     Revenue  249.0  252.0  160.0  234  234
1  operations  329.0  261.0  200.0  567  567
2  churn_rate  157.0  167.0  176.0  879  879
3   user_rate  231.0  183.0  238.0    4    4

In [111]:
access_df_col = join_df[-5:] #slicing is used for  both row and col simultaneously
access_df_col

                   metrics     Q1     Q2     Q3     Q5     Q4
14      Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6
15    Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9
16  Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6
17           views_per_day  229.0  245.0  164.0    big    big
18                  rating    4.3    2.6    4.8  large  large

In [113]:
#df.loc[:, 'column_name']  # Access a single column
#df.loc[:, ['col1', 'col2']]  # Access multiple columns, using the column_name(label_based)

join_df.loc[:, ["Q1", "Q4", "Q5"]]

       Q1     Q4     Q5
0   249.0    234    234
1   329.0    567    567
2   157.0    879    879
3   231.0      4      4
4   313.0   56.6   56.6
5   255.0  765.0  765.0
6   167.0  876.4  876.4
7   347.0  234.7  234.7
8   347.0   98.5   98.5
9   240.0  456.9  456.9
10  262.0    342    342
11  286.0    908    908
12  205.0    432    432
13  272.0    765    765
14  394.0  123.6  123.6
15  235.0  798.9  798.9
16  187.0   43.6   43.6
17  229.0    big    big
18    4.3  large  large

In [116]:
#df.iloc[:, column_index]  # Access a single column by integer index
#df.iloc[:, [col_index1, col_index2]]  # Access multiple columns by integer indexes

join_df.iloc[4:, [1, 2, 3]]

       Q1     Q2     Q3
4   313.0  272.0  193.0
5   255.0  196.0  202.0
6   167.0  272.0  229.0
7   347.0  218.0  242.0
8   347.0  296.0  244.0
9   240.0  179.0  184.0
10  262.0  204.0  151.0
11  286.0  269.0  246.0
12  205.0  253.0  197.0
13  272.0  245.0  177.0
14  394.0  212.0  192.0
15  235.0  296.0  165.0
16  187.0  167.0  218.0
17  229.0  245.0  164.0
18    4.3    2.6    4.8

In [118]:
join_df.iloc[6:, [1, 2, 3]] #Access columns using integer-based positions[row_first, columns_second].

       Q1     Q2     Q3
6   167.0  272.0  229.0
7   347.0  218.0  242.0
8   347.0  296.0  244.0
9   240.0  179.0  184.0
10  262.0  204.0  151.0
11  286.0  269.0  246.0
12  205.0  253.0  197.0
13  272.0  245.0  177.0
14  394.0  212.0  192.0
15  235.0  296.0  165.0
16  187.0  167.0  218.0
17  229.0  245.0  164.0
18    4.3    2.6    4.8

In [134]:
def print_col_with_string(df: pd.DataFrame) -> pd.Series:
    """We want to traverse theough the df, and check for str, then print the column

    Args:
        df: The main tabular dataset

    Returns:
        The column that contain str dtype.
    """
    col_with_string_dtype = join_df.select_dtypes(include=["object"]).columns
    for _, row in join_df.iterrows():
        for col in col_with_string_dtype:
            print(col)
            if isinstance(row[col], str):
                #print(f"print {col} with the {row[col]}")
                return (row[col])

print_col_with_string(join_df)

metrics

'Revenue'

For numeric data, the result’s index will include count, mean, std, min, max as well as lower, 50 and upper percentiles. By default the lower percentile is 25 and the upper percentile is 75. The 50 percentile is the same as the median.

For object data (e.g. strings or timestamps), the result’s index will include count, unique, top, and freq. The top is the most common value. The freq is the most common value’s frequency. Timestamps also include the first and last items.

If multiple object values have the highest count, then the count and top results will be arbitrarily chosen from among those with the highest count.

For mixed data types provided via a DataFrame, the default is to return only an analysis of numeric columns. If the dataframe consists only of object and categorical data without any numeric columns, the default is to return an analysis of both the object and categorical columns. If include='all' is provided as an option, the result will include a union of attributes of each type.

The include and exclude parameters can be used to limit which columns in a DataFrame are analyzed for the output. The parameters are ignored when analyzing a Series.

In [140]:
join_df.describe(exclude="object")

               Q1          Q2          Q3
count   19.000000   19.000000   19.000000
mean   247.857895  220.505263  188.568421
std     86.491588   67.177588   53.776338
min      4.300000    2.600000    4.800000
25%    217.000000  189.500000  170.500000
50%    249.000000  245.000000  193.000000
75%    299.500000  265.000000  223.500000
max    394.000000  296.000000  246.000000

In [145]:
#write a program that handles different missing columns and row in the dataframe.
import numpy as np
def create_new_df_with_nan(data: pd.DataFrame) -> pd.DataFrame:
    """The function would traverse through the whole dataset, replace and fillna with different techniques used ou there

    Args:
        data: dataset

    Returns:
        cleaned df.
    """
    new_dataset = {"Q6": [234, np.nan, 879, np.nan, 56.6, 765.0,876.4, 234.7, np.nan, 456.9,342,908, 432,765, 123.6, np.nan, 43.6, "bigger", "larger"], "Q7": ["chucky", 567, np.nan, 4, 56.6,765.0, np.nan, 234.7,98.5,456.9, np.nan, "higher", np.nan, 765, 123.6, 798.9, 43.6, "lower", "tiny"]}
    df3 = pd.DataFrame(new_dataset)
    df3 = pd.concat([join_df, df3], axis = 1)
    df3['Q1'] = df3['Q1'].replace(167.0, 100)
    return df3

In [148]:
df3 = create_new_df_with_nan(join_df)

Filling nan values or missing values in dataframe.

Filling NaN values in a DataFrame is a crucial step in data preprocessing to ensure that your dataset is complete and ready for analysis. Pandas provides various methods to handle missing values, both for single and multiple approaches

In [152]:
df3_copy = df3.copy()
df3_copy

,metrics,Q1,Q2,Q3,Q5,Q4,Q6,Q7
0,Revenue,249.0,252.0,160.0,234,234,234,chucky
1,operations,329.0,261.0,200.0,567,567,NaN,567
2,churn_rate,157.0,167.0,176.0,879,879,879,NaN
3,user_rate,231.0,183.0,238.0,4,4,NaN,4
4,feature_releases,313.0,272.0,193.0,56.6,56.6,56.6,56.6
5,Net_Profit,255.0,196.0,202.0,765.0,765.0,765.0,765.0
6,New_Users_(thousands),100.0,272.0,229.0,876.4,876.4,876.4,NaN
7,feature_releases,347.0,218.0,242.0,234.7,234.7,234.7,234.7
8,Active_Users,347.0,296.0,244.0,98.5,98.5,NaN,98.5
9,Retention_Rate,240.0,179.0,184.0,456.9,456.9,456.9,456.9
10,Lifetime_Value,262.0,204.0,151.0,342,342,342,NaN
11,Average_Session_Duration,286.0,269.0,246.0,908,908,908,higher
12,Customer_Satisfaction,205.0,253.0,197.0,432,432,432,NaN
13,Daily_Active_Users,272.0,245.0,177.0,765,765,765,765
14,Retention_Rate (%),394.0,212.0,192.0,123.6,123.6,123.6,123.6
15,Lifetime_Value (LTV),235.0,296.0,165.0,798.9,798.9,NaN,798.9
16,Page_Views_per_Session,187.0,167.0,218.0,43.6,43.6,43.6,43.6
17,views_per_day,229.0,245.0,164.0,big,big,bigger,lower
18,rating,4.3,2.6,4.8,large,large,larger,tiny

In [153]:
#Fill with a Constant Value
#You can fill all NaN values with a single constant value using fillna()

df_filled = df3_copy.fillna(0)
display(df_filled)

,metrics,Q1,Q2,Q3,Q5,Q4,Q6,Q7
0,Revenue,249.0,252.0,160.0,234,234,234,chucky
1,operations,329.0,261.0,200.0,567,567,0,567
2,churn_rate,157.0,167.0,176.0,879,879,879,0
3,user_rate,231.0,183.0,238.0,4,4,0,4
4,feature_releases,313.0,272.0,193.0,56.6,56.6,56.6,56.6
5,Net_Profit,255.0,196.0,202.0,765.0,765.0,765.0,765.0
6,New_Users_(thousands),100.0,272.0,229.0,876.4,876.4,876.4,0
7,feature_releases,347.0,218.0,242.0,234.7,234.7,234.7,234.7
8,Active_Users,347.0,296.0,244.0,98.5,98.5,0,98.5
9,Retention_Rate,240.0,179.0,184.0,456.9,456.9,456.9,456.9
10,Lifetime_Value,262.0,204.0,151.0,342,342,342,0
11,Average_Session_Duration,286.0,269.0,246.0,908,908,908,higher
12,Customer_Satisfaction,205.0,253.0,197.0,432,432,432,0
13,Daily_Active_Users,272.0,245.0,177.0,765,765,765,765
14,Retention_Rate (%),394.0,212.0,192.0,123.6,123.6,123.6,123.6
15,Lifetime_Value (LTV),235.0,296.0,165.0,798.9,798.9,0,798.9
16,Page_Views_per_Session,187.0,167.0,218.0,43.6,43.6,43.6,43.6
17,views_per_day,229.0,245.0,164.0,big,big,bigger,lower
18,rating,4.3,2.6,4.8,large,large,larger,tiny

In [154]:
#Forward Fill

df_filled = df3_copy.fillna(method='ffill')
df_filled

,metrics,Q1,Q2,Q3,Q5,Q4,Q6,Q7
0,Revenue,249.0,252.0,160.0,234,234,234,chucky
1,operations,329.0,261.0,200.0,567,567,234,567
2,churn_rate,157.0,167.0,176.0,879,879,879,567
3,user_rate,231.0,183.0,238.0,4,4,879,4
4,feature_releases,313.0,272.0,193.0,56.6,56.6,56.6,56.6
5,Net_Profit,255.0,196.0,202.0,765.0,765.0,765.0,765.0
6,New_Users_(thousands),100.0,272.0,229.0,876.4,876.4,876.4,765.0
7,feature_releases,347.0,218.0,242.0,234.7,234.7,234.7,234.7
8,Active_Users,347.0,296.0,244.0,98.5,98.5,234.7,98.5
9,Retention_Rate,240.0,179.0,184.0,456.9,456.9,456.9,456.9
10,Lifetime_Value,262.0,204.0,151.0,342,342,342,456.9
11,Average_Session_Duration,286.0,269.0,246.0,908,908,908,higher
12,Customer_Satisfaction,205.0,253.0,197.0,432,432,432,higher
13,Daily_Active_Users,272.0,245.0,177.0,765,765,765,765
14,Retention_Rate (%),394.0,212.0,192.0,123.6,123.6,123.6,123.6
15,Lifetime_Value (LTV),235.0,296.0,165.0,798.9,798.9,123.6,798.9
16,Page_Views_per_Session,187.0,167.0,218.0,43.6,43.6,43.6,43.6
17,views_per_day,229.0,245.0,164.0,big,big,bigger,lower
18,rating,4.3,2.6,4.8,large,large,larger,tiny

In [158]:
# Backward fill NaN values
df_filled = df3_copy.fillna(method='bfill')
df_filled

,metrics,Q1,Q2,Q3,Q5,Q4,Q6,Q7
0,Revenue,249.0,252.0,160.0,234,234,234,chucky
1,operations,329.0,261.0,200.0,567,567,879,567
2,churn_rate,157.0,167.0,176.0,879,879,879,4
3,user_rate,231.0,183.0,238.0,4,4,56.6,4
4,feature_releases,313.0,272.0,193.0,56.6,56.6,56.6,56.6
5,Net_Profit,255.0,196.0,202.0,765.0,765.0,765.0,765.0
6,New_Users_(thousands),100.0,272.0,229.0,876.4,876.4,876.4,234.7
7,feature_releases,347.0,218.0,242.0,234.7,234.7,234.7,234.7
8,Active_Users,347.0,296.0,244.0,98.5,98.5,456.9,98.5
9,Retention_Rate,240.0,179.0,184.0,456.9,456.9,456.9,456.9
10,Lifetime_Value,262.0,204.0,151.0,342,342,342,higher
11,Average_Session_Duration,286.0,269.0,246.0,908,908,908,higher
12,Customer_Satisfaction,205.0,253.0,197.0,432,432,432,765
13,Daily_Active_Users,272.0,245.0,177.0,765,765,765,765
14,Retention_Rate (%),394.0,212.0,192.0,123.6,123.6,123.6,123.6
15,Lifetime_Value (LTV),235.0,296.0,165.0,798.9,798.9,43.6,798.9
16,Page_Views_per_Session,187.0,167.0,218.0,43.6,43.6,43.6,43.6
17,views_per_day,229.0,245.0,164.0,big,big,bigger,lower
18,rating,4.3,2.6,4.8,large,large,larger,tiny

In [160]:
df_filled

,metrics,Q1,Q2,Q3,Q5,Q4,Q6,Q7
0,Revenue,249.0,252.0,160.0,234,234,234,chucky
1,operations,329.0,261.0,200.0,567,567,879,567
2,churn_rate,157.0,167.0,176.0,879,879,879,4
3,user_rate,231.0,183.0,238.0,4,4,56.6,4
4,feature_releases,313.0,272.0,193.0,56.6,56.6,56.6,56.6
5,Net_Profit,255.0,196.0,202.0,765.0,765.0,765.0,765.0
6,New_Users_(thousands),100.0,272.0,229.0,876.4,876.4,876.4,234.7
7,feature_releases,347.0,218.0,242.0,234.7,234.7,234.7,234.7
8,Active_Users,347.0,296.0,244.0,98.5,98.5,456.9,98.5
9,Retention_Rate,240.0,179.0,184.0,456.9,456.9,456.9,456.9
10,Lifetime_Value,262.0,204.0,151.0,342,342,342,higher
11,Average_Session_Duration,286.0,269.0,246.0,908,908,908,higher
12,Customer_Satisfaction,205.0,253.0,197.0,432,432,432,765
13,Daily_Active_Users,272.0,245.0,177.0,765,765,765,765
14,Retention_Rate (%),394.0,212.0,192.0,123.6,123.6,123.6,123.6
15,Lifetime_Value (LTV),235.0,296.0,165.0,798.9,798.9,43.6,798.9
16,Page_Views_per_Session,187.0,167.0,218.0,43.6,43.6,43.6,43.6
17,views_per_day,229.0,245.0,164.0,big,big,bigger,lower
18,rating,4.3,2.6,4.8,large,large,larger,tiny

In [179]:
#Fill with the Mean, Median, or Mode
#You can fill NaN values with statistical values computed from the column.

def fillna_with_M3(data: pd.DataFrame) -> pd.DataFrame:
    """Filling nan values with mean, mean and mode

    Args:
        data: The main dataset

    Returns:
        pd.DataFrame:
    """
    df_filled1 = df3_copy.fillna(df3.mean())
    df_filled2 = df3_copy.fillna(df3.mode().iloc[0])

    return df_filled1, df_filled2

In [180]:
fillna_with_M3(df3)

(                     metrics     Q1     Q2     Q3     Q5     Q4      Q6  \
 0                    Revenue  249.0  252.0  160.0    234    234     234
 1                 operations  329.0  261.0  200.0    567    567     NaN
 2                 churn_rate  157.0  167.0  176.0    879    879     879
 3                  user_rate  231.0  183.0  238.0      4      4     NaN
 4           feature_releases  313.0  272.0  193.0   56.6   56.6    56.6
 5                Net_Profit   255.0  196.0  202.0  765.0  765.0   765.0
 6      New_Users_(thousands)  100.0  272.0  229.0  876.4  876.4   876.4
 7           feature_releases  347.0  218.0  242.0  234.7  234.7   234.7
 8               Active_Users  347.0  296.0  244.0   98.5   98.5     NaN
 9             Retention_Rate  240.0  179.0  184.0  456.9  456.9   456.9
 10            Lifetime_Value  262.0  204.0  151.0    342    342     342
 11  Average_Session_Duration  286.0  269.0  246.0    908    908     908
 12     Customer_Satisfaction  205.0  253.0  197.0    432    432     432
 13        Daily_Active_Users  272.0  245.0  177.0    765    765     765
 14        Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6   123.6
 15      Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9     NaN
 16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6    43.6
 17             views_per_day  229.0  245.0  164.0    big    big  bigger
 18                    rating    4.3    2.6    4.8  large  large  larger

         Q7
 0   chucky
 1      567
 2      NaN
 3        4
 4     56.6
 5    765.0
 6      NaN
 7    234.7
 8     98.5
 9    456.9
 10     NaN
 11  higher
 12     NaN
 13     765
 14   123.6
 15   798.9
 16    43.6
 17   lower
 18    tiny  ,
                      metrics     Q1     Q2     Q3     Q5     Q4      Q6  \
 0                    Revenue  249.0  252.0  160.0    234    234     234
 1                 operations  329.0  261.0  200.0    567    567   765.0
 2                 churn_rate  157.0  167.0  176.0    879    879     879
 3                  user_rate  231.0  183.0  238.0      4      4   765.0
 4           feature_releases  313.0  272.0  193.0   56.6   56.6    56.6
 5                Net_Profit   255.0  196.0  202.0  765.0  765.0   765.0
 6      New_Users_(thousands)  100.0  272.0  229.0  876.4  876.4   876.4
 7           feature_releases  347.0  218.0  242.0  234.7  234.7   234.7
 8               Active_Users  347.0  296.0  244.0   98.5   98.5   765.0
 9             Retention_Rate  240.0  179.0  184.0  456.9  456.9   456.9
 10            Lifetime_Value  262.0  204.0  151.0    342    342     342
 11  Average_Session_Duration  286.0  269.0  246.0    908    908     908
 12     Customer_Satisfaction  205.0  253.0  197.0    432    432     432
 13        Daily_Active_Users  272.0  245.0  177.0    765    765     765
 14        Retention_Rate (%)  394.0  212.0  192.0  123.6  123.6   123.6
 15      Lifetime_Value (LTV)  235.0  296.0  165.0  798.9  798.9   765.0
 16    Page_Views_per_Session  187.0  167.0  218.0   43.6   43.6    43.6
 17             views_per_day  229.0  245.0  164.0    big    big  bigger
 18                    rating    4.3    2.6    4.8  large  large  larger

         Q7
 0   chucky
 1      567
 2    765.0
 3        4
 4     56.6
 5    765.0
 6    765.0
 7    234.7
 8     98.5
 9    456.9
 10   765.0
 11  higher
 12   765.0
 13     765
 14   123.6
 15   798.9
 16    43.6
 17   lower
 18    tiny  )

,metrics,Q1,Q2,Q3,Q5,Q4,Q6,Q7
0,Revenue,249.0,252.0,160.0,234,234,234,chucky
1,operations,329.0,261.0,200.0,567,567,NaN,567
2,churn_rate,157.0,167.0,176.0,879,879,879,NaN
3,user_rate,231.0,183.0,238.0,4,4,NaN,4
4,feature_releases,313.0,272.0,193.0,56.6,56.6,56.6,56.6
5,Net_Profit,255.0,196.0,202.0,765.0,765.0,765.0,765.0
6,New_Users_(thousands),100.0,272.0,229.0,876.4,876.4,876.4,NaN
7,feature_releases,347.0,218.0,242.0,234.7,234.7,234.7,234.7
8,Active_Users,347.0,296.0,244.0,98.5,98.5,NaN,98.5
9,Retention_Rate,240.0,179.0,184.0,456.9,456.9,456.9,456.9
10,Lifetime_Value,262.0,204.0,151.0,342,342,342,NaN
11,Average_Session_Duration,286.0,269.0,246.0,908,908,908,higher
12,Customer_Satisfaction,205.0,253.0,197.0,432,432,432,NaN
13,Daily_Active_Users,272.0,245.0,177.0,765,765,765,765
14,Retention_Rate (%),394.0,212.0,192.0,123.6,123.6,123.6,123.6
15,Lifetime_Value (LTV),235.0,296.0,165.0,798.9,798.9,NaN,798.9
16,Page_Views_per_Session,187.0,167.0,218.0,43.6,43.6,43.6,43.6
17,views_per_day,229.0,245.0,164.0,big,big,bigger,lower
18,rating,4.3,2.6,4.8,large,large,larger,tiny